/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

.sidebar {
  -webkit-transform: translate3d(0, 0 , 0);
          transform: translate3d(0, 0 , 0);

  @include clearfix();
  margin-bottom: 1em;
  background: transparent;
  padding: 0.75em 0;
  border-radius: 0;
  border: none;
  max-width: 100%;

  @include breakpoint($medium) {
    background: rgba(255, 255, 255, 0.02);
    padding: 1.5em;
    margin-bottom: 2em;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.08);
  }

  @include breakpoint($large) {
    @include span(2 of 12);
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;
    background: transparent;
    padding: 0;
    border-radius: 0;
    border: none;

    &:hover {
      opacity: 1;
    }
  }

  @include breakpoint($x-large) {
    padding-right: 0;
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  h3, h4 {
    font-size: $type-size-5;
  }

  p, li {
    font-family: $sans-serif;
    font-size: $type-size-6;
    line-height: 1.6;
  }

  img {
    width: 100%;
  }
}

.sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: relative;
    float: right;
    width: $right-sidebar-width-narrow;
    margin-left: span(0.5 of 12);
    z-index: 10;
  }

  @include breakpoint($x-large) {
    width: $right-sidebar-width;
  }
}

/*
   Author profile and links
   ========================================================================== */

.author__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.75em;

  @include breakpoint($medium) {
    margin-bottom: 1.5em;
  }

  @include breakpoint($large) {
    display: block;
    width: auto;
    height: auto;
    margin: 0 0 1.5em;
    position: relative;
  }

  img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
    border: 3px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

    @media (min-width: 480px) {
      width: 140px;
      height: 140px;
    }

    @include breakpoint($medium) {
      width: 160px;
      height: 160px;
    }

    @include breakpoint($large) {
      width: 175px;
      height: 175px;
    }
  }
}

.author__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
  line-height: 1.4;

  @include breakpoint($medium) {
    display: block;
  }

  @include breakpoint($large) {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
}

.author__name {
  margin: 0 0 0.4em;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: -0.01em;

  @include breakpoint($medium) {
    font-size: 1.25em;
    margin-bottom: 0.6em;
  }

  @include breakpoint($large) {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: $type-size-5;
  }
}
.sidebar .author__name {
  font-family: $sans-serif;
  font-size: 1em;
  
  @include breakpoint($medium) {
    font-size: 1.25em;
  }
  
  @include breakpoint($large) {
    font-size: $type-size-5;
  }
}

.author__bio {
  margin: 0 0 0.5em;
  font-size: 0.75em;
  color: $text-color;
  line-height: 1.5;
  font-weight: 400;
  opacity: 0.85;
  max-width: 100%;

  @include breakpoint($medium) {
    font-size: 0.875em;
    margin-bottom: 1.5em;
    line-height: 1.6;
  }

  @include breakpoint($large) {
    margin-top: 8px;
    margin-bottom: 24px;
  }
}

.author__urls-wrapper {
  position: relative;
  display: block;
  text-align: center;
  font-family: $sans-serif;
  z-index: 10;
  cursor: pointer;

  li:last-child {
    a {
      margin-bottom: 0;
    }
  }

  @include breakpoint($large) {
    display: block;
    text-align: left;
  }

  button {
    margin-bottom: 0;
    display: none;

    @include breakpoint($large) {
      display: none;
    }
  }
}

.author__urls {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 0;
  background: transparent;
  box-shadow: none;
  cursor: default;
  max-width: 100%;

  @include breakpoint($large) {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
  }

  &:before {
    display: none;
  }

  &:after {
    display: none;
  }

  li {
    white-space: nowrap;
    
    @include breakpoint($large) {
      white-space: nowrap;
    }
  }

  a {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    padding: 6px 0;
    color: $text-color;
    font-size: 0.85em;
    text-decoration: none;
    border-radius: 0;
    transition: all 0.2s ease;
    opacity: 0.7;
    min-height: 44px;
    border-left: 2px solid transparent;
    padding-left: 8px;

    @include breakpoint($medium) {
      padding: 6px 0 6px 8px;
      font-size: 0.875em;
      min-height: auto;
    }

    @include breakpoint($large) {
      padding: 5px 0 5px 8px;
      font-size: 0.85em;
    }

    &:hover {
      opacity: 1;
      border-left-color: $link-color;
    }
    
    i {
      margin-right: 10px;
      width: 18px;
      text-align: center;
      opacity: 0.8;
      flex-shrink: 0;
      font-size: 0.95em;

      @include breakpoint($large) {
        width: 18px;
        margin-right: 10px;
      }
    }
  }
}
